body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
label {
  margin-bottom: 5px;
  color: #555;
  position: relative;
}
label .tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
  text-decoration: none;
  color: inherit;
}
label .tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -125px; /* Use half of the width to center it */
  opacity: 0;
  transition: opacity 0.3s;
}
label .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext img {
  width: 100px;
  height: auto;
  margin-top: 10px;
}
input[type="text"],
input[type="number"],
select,
textarea {
  width: calc(100% - 20px); /* Adjusted for gap spacing */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="file"] {
  padding: 10px;
}
textarea {
  resize: vertical;
}
.full-width {
  grid-column: span 2;
}
.abilities-section {
  grid-column: span 2;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.ability-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.ability-row input[type="text"],
.ability-row textarea {
  flex: 1;
}
.ability-row textarea {
  resize: none;
}
button {
  grid-column: span 2;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #4cae4c;
}
.add-ability-btn {
  background-color: #007bff;
  margin-bottom: 20px;
}
.add-ability-btn:hover {
  background-color: #0056b3;
}
.remove-ability-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
.remove-ability-btn:hover {
  background-color: #c82333;
}

.spinner {
  width: 150px; /* control the size */
  aspect-ratio: 1;
  display: none;
  mask: conic-gradient(from 22deg, #0003, #000);
  animation: load 1s steps(8) infinite;
}
.spinner,
.spinner:before {
  --_g: linear-gradient(#17177c 0 0) 50%; /* update the color here */
  background: var(--_g) / 34% 8% space no-repeat,
    var(--_g) / 8% 34% no-repeat space;
}
.spinner:before {
  content: "";
  transform: rotate(45deg);
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}
