<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0901T32E95"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0901T32E95');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/assets/images/WKnight.ico' | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ '/assets/images/WKnight.png' | relative_url }}" type="image/png">
    <title>Heroscape Builder - {{ page.title | escape }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% if page.css %}
    {% for css in page.css %}
    <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
    {% endif %}
</head>

<body>
    {% include header.html %}
    <main class="container my-4">
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="Abnoba12" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF"
        data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    {% if page.scripts %}
    {% for script in page.scripts %}
    <script src="{{ script | relative_url }}" defer></script>
    {% endfor %}
    {% endif %}
    {% if page.moduleScripts %}
    {% for script in page.moduleScripts %}
    <script type="module" src="{{ script | relative_url }}" defer></script>
    {% endfor %}
    {% endif %}
</body>

</html>